<h2 mat-dialog-title>{{ title }}</h2>

<form class="dialog-form" (ngSubmit)="save()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput name="name" [(ngModel)]="name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Display name</mat-label>
      <input matInput name="displayName" [(ngModel)]="displayName" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select name="type" [(ngModel)]="type" (ngModelChange)="onTypeChange()" required>
        <mat-option *ngFor="let typeOption of types" [value]="typeOption.value">
          {{ typeOption.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <section class="feature-list">
      <h3>Features</h3>
      <div class="feature-row header-row" aria-hidden="true">
        <span>Feature</span>
        <span>On</span>
        <span>Edit</span>
        <span>Delete</span>
      </div>
      <div class="feature-row" *ngFor="let feature of featureOptions" [class.disabled-row]="isFeatureDisabled(feature)">
        <span>{{ feature.label }}</span>
        <mat-slide-toggle
          [(ngModel)]="features[feature.key].enabled"
          (ngModelChange)="onFeatureEnabledChange(feature)"
          [name]="feature.key + 'Enabled'"
          [disabled]="isFeatureDisabled(feature)"
          aria-label="Feature enabled"></mat-slide-toggle>
        <mat-checkbox
          *ngIf="hasPermissionControls(feature); else noPermissionControls"
          [(ngModel)]="features[feature.key].edit"
          [name]="feature.key + 'Edit'"
          [disabled]="isEditDisabled(feature)"
          aria-label="Edit permission"></mat-checkbox>
        <mat-checkbox
          *ngIf="hasPermissionControls(feature); else noDeleteControl"
          [(ngModel)]="features[feature.key].delete"
          [name]="feature.key + 'Delete'"
          [disabled]="isDeleteDisabled(feature)"
          aria-label="Delete permission"></mat-checkbox>
        <ng-template #noPermissionControls><span class="permission-na">-</span></ng-template>
        <ng-template #noDeleteControl><span class="permission-na">-</span></ng-template>
      </div>
    </section>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close [disabled]="saving()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="saving()">{{ submitLabel }}</button>
  </mat-dialog-actions>
</form>
